<h1>Welcome to the NYC Sinatra <strong>Figures, Landmarks, Titles</strong> Lab!!</h1>

<h3><a href="/figures">Figures</a></h3>
<br>
<h3><a href="/landmarks">Landmarks</a></h3>
<br>
<h3><a href="/titles">Titles</a></h3>
